@import url("../../../../main.css");

.peptide-list {
    box-sizing: border-box;

    padding: 5px;
    margin: 0;

    background-color: var(--color-bg-surface);
    border-radius: 15px;
    border: 1px solid var(--color-border-default);

    overflow-y: auto;
    min-height: 25%;
    max-height: 45%;
    width: 75%;

    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.peptide-list li {
    width: 90%;
}
